.main {
    border: 2px solid ivory;
    text-align: center;
    width: 200px;
    height: 250px;
    margin : 0 auto;
    background-color: black;
}

.result {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color:grey;
    color:black;
    border: 2px solid black;
}

.btn {
    background-color: black;
    color: ivory;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    box-shadow: 1px 1px grey;
    width: 30px;
}

.clearbtn {
    width: 80px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: black;
    color:ivory;
    font-weight: bold;
}